<!DOCTYPE html>

<html lang='fa-IR' class='theme-light'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport'
          content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>صفحه ی چت</title>
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>
<script src="~/js/jquery-1.10.2.min.js"></script>
<script src="~/js/jquery-3.4.1.js"></script>
<script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>
<script src="~/js/script.js"></script>
<script src="~/js/signalr-service.js"></script>
<script src="~/js/Theme.js"></script>